In [1]:
import json
import time
import pandas as pd
import requests
import matplotlib.pyplot as plt
import scipy as sp
from pprint import pprint
import quandl
from config import api_key
import csv
import os

In [10]:
master_data_path = os.path.join("..", "..", "Master_Data")

In [11]:
master_data_original = pd.read_csv(master_data_path)

In [12]:
master_data_original.head()

,Year,Month,Year-Month,Region ID,Region Name,Region Type,Indicator ID,Indicator Name,Value,County Population,Unemployment Rate,Wells Fargo Rate,Freddie Mac Rate,Date Zillow,Date Interest
0,2016,Apr,2016-4,753871,"Breckenridge, CO; CO",metro,Z2BR,ZHVI 2-Bedroom Time Series ($),"384,884.0","30,566",3.5,3.875,3.66,4/30/16,4/28/16
1,2016,Apr,2016-4,753871,"Breckenridge, CO; CO",metro,Z4BR,ZHVI 4-Bedroom Time Series ($),"881,951.0","30,566",3.5,3.875,3.66,4/30/16,4/28/16
2,2016,Apr,2016-4,753871,"Breckenridge, CO; CO",metro,Z5BR,ZHVI 5+ Bedroom Time Series ($),"1,287,769.0","30,566",3.5,3.875,3.66,4/30/16,4/28/16
3,2016,Apr,2016-4,753871,"Breckenridge, CO; CO",metro,ZATT,ZHVI All Homes- Top Tier Time Series ($),"842,653.0","30,566",3.5,3.875,3.66,4/30/16,4/28/16
4,2016,Apr,2016-4,753871,"Breckenridge, CO; CO",metro,Z1BR,ZHVI 1-Bedroom Time Series ($),"243,688.0","30,566",3.5,3.875,3.66,4/30/16,4/28/16

In [17]:
master_data_reorg = master_data_original[["Year", "Month","Year-Month", "Date Zillow", "Date Interest", "Indicator ID", "Indicator Name", "Region ID", "Region Type", "Region Name", "Value", "County Population", "Unemployment Rate", "Wells Fargo Rate", "Freddie Mac Rate"]]

In [18]:
master_data_reorg.head()

,Year,Month,Year-Month,Date Zillow,Date Interest,Indicator ID,Indicator Name,Region ID,Region Type,Region Name,Value,County Population,Unemployment Rate,Wells Fargo Rate,Freddie Mac Rate
0,2016,Apr,2016-4,4/30/16,4/28/16,Z2BR,ZHVI 2-Bedroom Time Series ($),753871,metro,"Breckenridge, CO; CO","384,884.0","30,566",3.5,3.875,3.66
1,2016,Apr,2016-4,4/30/16,4/28/16,Z4BR,ZHVI 4-Bedroom Time Series ($),753871,metro,"Breckenridge, CO; CO","881,951.0","30,566",3.5,3.875,3.66
2,2016,Apr,2016-4,4/30/16,4/28/16,Z5BR,ZHVI 5+ Bedroom Time Series ($),753871,metro,"Breckenridge, CO; CO","1,287,769.0","30,566",3.5,3.875,3.66
3,2016,Apr,2016-4,4/30/16,4/28/16,ZATT,ZHVI All Homes- Top Tier Time Series ($),753871,metro,"Breckenridge, CO; CO","842,653.0","30,566",3.5,3.875,3.66
4,2016,Apr,2016-4,4/30/16,4/28/16,Z1BR,ZHVI 1-Bedroom Time Series ($),753871,metro,"Breckenridge, CO; CO","243,688.0","30,566",3.5,3.875,3.66

In [19]:
master_data_cleaned = master_data_reorg

In [20]:
master_data_cleaned.to_csv("output_data/master_data_cleaned.csv")