In [6]:
import json
import time
import pandas as pd
import requests
import matplotlib.pyplot as plt
import scipy as sp
from pprint import pprint
import quandl
#from config import api_key
import csv
import os

In [3]:
csv_path = os.path.join("..", "..", "zillow_data.csv")
zillow_data_raw = pd.read_csv(csv_path)

In [4]:
zillow_data_raw

          indicator_id  region_id        date     value
0                 ZATT       3101  1998-01-31  338849.0
1                 ZATT       3101  1998-02-28  342993.0
2                 ZATT       3101  1998-03-31  346763.0
3                 ZATT       3101  1998-04-30  349356.0
4                 ZATT       3101  1998-05-31  351981.0
...                ...        ...         ...       ...
122751629         Z4BR      49589  2020-02-29  103928.0
122751630         Z4BR      49589  2020-03-31  105018.0
122751631         Z4BR      49589  2020-04-30  105616.0
122751632         Z4BR      49589  2020-06-30  105040.0
122751633         Z4BR      49589  2020-05-31  105764.0

[122751634 rows x 4 columns]

In [5]:
# metro_ids = ['753921', '753881', '753874', '753871', '395130', '395007', '394876', '394645', '394639', '394606', '394602', '394556', '394547', '394530', '394484', '394437', '394405']
zillow_data_daterange = zillow_data_raw.loc[(zillow_data_raw["date"] > "2016-04-01")]
zillow_data_daterange

          indicator_id  region_id        date      value
219               ZATT       3101  2016-04-30   992131.0
220               ZATT       3101  2016-05-31   997694.0
221               ZATT       3101  2016-06-30  1004159.0
222               ZATT       3101  2016-07-31  1006299.0
223               ZATT       3101  2016-08-31  1011730.0
...                ...        ...         ...        ...
122751629         Z4BR      49589  2020-02-29   103928.0
122751630         Z4BR      49589  2020-03-31   105018.0
122751631         Z4BR      49589  2020-04-30   105616.0
122751632         Z4BR      49589  2020-06-30   105040.0
122751633         Z4BR      49589  2020-05-31   105764.0

[30254125 rows x 4 columns]

In [6]:
# https://stackoverflow.com/questions/53082014/filter-dataframe-matching-column-values-with-list-values-in-python
metro_ids = [753921, 753881, 753874, 753871, 395130, 395007, 394876, 394645, 394639, 394606, 394602, 394556, 394547, 394530, 394484, 394437, 394405]
zillow_colorado_df = zillow_data_daterange[zillow_data_daterange['region_id'].isin(metro_ids)]
zillow_colorado_df

         indicator_id  region_id        date     value
1512808          ZATT     394530  2020-06-30  658276.0
1512985          ZATT     394484  2020-06-30  476346.0
1513222          ZATT     394602  2020-06-30  602484.0
1513231          ZATT     394405  2020-06-30  949835.0
1513276          ZATT     394645  2020-06-30  548133.0
...               ...        ...         ...       ...
48235709         RSSA     394645  2019-10-31    1721.0
48235710         RSSA     394645  2019-11-30    1723.0
48235711         RSSA     394645  2019-12-31    1725.0
48235712         RSSA     394645  2020-01-31    1727.0
48235713         RSSA     394645  2020-02-29    1729.0

[36534 rows x 4 columns]

In [7]:
# Sort by date
zillow_colorado_df = zillow_colorado_df.sort_values("date")
zillow_colorado_df

         indicator_id  region_id        date        value
48029934         SRAW     394484  2016-04-02  252000.0000
48044723         SRAW     394405  2016-04-02  485910.0000
48173544         SAAW     394645  2016-04-02  272208.0000
48046009         SRAW     394645  2016-04-02  275000.0000
47785253         SRSW     395007  2016-04-02  159950.0000
...               ...        ...         ...          ...
7044734          LSAW     395007  2020-10-03  269950.0000
7044716          LSAW     394645  2020-10-03  441141.0000
7044707          LSAW     394602  2020-10-03  463503.0000
7044464          LSAW     394530  2020-10-03  529950.0000
7040345          CSAW     394484  2020-10-03       0.0356

[36534 rows x 4 columns]

In [8]:
co_region_names = quandl.get_table('ZILLOW/REGIONS', api_key=api_key, paginate=True, region_id=metro_ids)
co_region_names

     region_id region_type                     region
None
0       753921       metro  Steamboat Springs, CO; CO
1       753881       metro   Glenwood Springs, CO; CO
2       753874       metro              Craig, CO; CO
3       753871       metro       Breckenridge, CO; CO
4       395130       metro           Sterling, CO; CO
5       395007       metro             Pueblo, CO; CO
6       394876       metro           Montrose, CO; CO
7       394645       metro                Greeley, CO
8       394639       metro     Grand Junction, CO; CO
9       394606       metro        Fort Morgan, CO; CO
10      394602       metro           Fort Collins, CO
11      394556       metro            Edwards, CO; CO
12      394547       metro            Durango, CO; CO
13      394530       metro                 Denver, CO
14      394484       metro       Colorado Springs, CO
15      394437       metro          Caon City, CO; CO
16      394405       metro                Boulder, CO

In [9]:
co_region_names = co_region_names.astype({"region_id": int})
co_region_names

      region_id region_type                     region
None
0        753921       metro  Steamboat Springs, CO; CO
1        753881       metro   Glenwood Springs, CO; CO
2        753874       metro              Craig, CO; CO
3        753871       metro       Breckenridge, CO; CO
4        395130       metro           Sterling, CO; CO
5        395007       metro             Pueblo, CO; CO
6        394876       metro           Montrose, CO; CO
7        394645       metro                Greeley, CO
8        394639       metro     Grand Junction, CO; CO
9        394606       metro        Fort Morgan, CO; CO
10       394602       metro           Fort Collins, CO
11       394556       metro            Edwards, CO; CO
12       394547       metro            Durango, CO; CO
13       394530       metro                 Denver, CO
14       394484       metro       Colorado Springs, CO
15       394437       metro          Caon City, CO; CO
16       394405       metro                Boulder, CO

In [10]:
co_region_names.dtypes

region_id       int32
region_type    object
region         object
dtype: object

In [11]:
#  Merge: zillow_colorado_df, co_region_names
co_zillow_merged = pd.merge(zillow_colorado_df, co_region_names, on="region_id")
co_zillow_merged

,indicator_id,region_id,date,value,region_type,region
0,SRAW,394484,2016-04-02,252000.0,metro,"Colorado Springs, CO"
1,SRSW,394484,2016-04-02,255000.0,metro,"Colorado Springs, CO"
2,SASW,394484,2016-04-02,254712.0,metro,"Colorado Springs, CO"
3,SSAW,394484,2016-04-02,244872.0,metro,"Colorado Springs, CO"
4,SAAW,394484,2016-04-02,250251.0,metro,"Colorado Springs, CO"
...,...,...,...,...,...,...
36529,Z2BR,753881,2020-09-30,467508.0,metro,"Glenwood Springs, CO; CO"
36530,Z1BR,753881,2020-09-30,442622.0,metro,"Glenwood Springs, CO; CO"
36531,Z3BR,753881,2020-09-30,481041.0,metro,"Glenwood Springs, CO; CO"
36532,ZABT,753881,2020-09-30,319157.0,metro,"Glenwood Springs, CO; CO"
36533,Z5BR,753881,2020-09-30,3125820.0,metro,"Glenwood Springs, CO; CO"

In [12]:
co_zillow_merged = co_zillow_merged[["indicator_id", "region_id", "region_type", "region", "date", "value"]]

In [13]:
co_zillow_merged

,indicator_id,region_id,region_type,region,date,value
0,SRAW,394484,metro,"Colorado Springs, CO",2016-04-02,252000.0
1,SRSW,394484,metro,"Colorado Springs, CO",2016-04-02,255000.0
2,SASW,394484,metro,"Colorado Springs, CO",2016-04-02,254712.0
3,SSAW,394484,metro,"Colorado Springs, CO",2016-04-02,244872.0
4,SAAW,394484,metro,"Colorado Springs, CO",2016-04-02,250251.0
...,...,...,...,...,...,...
36529,Z2BR,753881,metro,"Glenwood Springs, CO; CO",2020-09-30,467508.0
36530,Z1BR,753881,metro,"Glenwood Springs, CO; CO",2020-09-30,442622.0
36531,Z3BR,753881,metro,"Glenwood Springs, CO; CO",2020-09-30,481041.0
36532,ZABT,753881,metro,"Glenwood Springs, CO; CO",2020-09-30,319157.0
36533,Z5BR,753881,metro,"Glenwood Springs, CO; CO",2020-09-30,3125820.0

In [14]:
zillow_indicators = quandl.get_table('ZILLOW/INDICATORS', api_key=api_key, paginate=True)
zillow_indicators = zillow_indicators[["indicator_id", "indicator"]]
zillow_indicators

     indicator_id                                          indicator
None
0            ZSFH           ZHVI Single-Family Homes Time Series ($)
1            ZCON                   ZHVI Condo/Co-op Time Series ($)
2            ZATT           ZHVI All Homes- Top Tier Time Series ($)
3            ZALL  ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)
4            ZABT        ZHVI All Homes- Bottom Tier Time Series ($)
5            Z5BR                    ZHVI 5+ Bedroom Time Series ($)
6            Z4BR                     ZHVI 4-Bedroom Time Series ($)
7            Z3BR                     ZHVI 3-Bedroom Time Series ($)
8            Z2BR                     ZHVI 2-Bedroom Time Series ($)
9            Z1BR                     ZHVI 1-Bedroom Time Series ($)
10           SSSW  Median Sale Price (Smooth, SFR only, Weekly View)
11           SSSM      Median Sale Price (Smooth, SFR only, Monthly)
12           SSAW  Median Sale Price (Smooth, All Homes, Weekly V...
13           SSAM     Median Sale Price (Smooth, All Homes, Monthly)
14           SRSW     Median Sale Price (Raw, SFR only, Weekly View)
15           SRSM         Median Sale Price (Raw, SFR only, Monthly)
16           SRAW    Median Sale Price (Raw, All Homes, Weekly View)
17           SRAM        Median Sale Price (Raw, All Homes, Monthly)
18           SASW  Median Sale Price (Smooth & Seasonally Adjuste...
19           SASM  Median Sale Price (Smooth & Seasonally Adjuste...
20           SAAW  Median Sale Price (Smooth & Seasonally Adjuste...
21           SAAM  Median Sale Price (Smooth & Seasonally Adjuste...
22           RSSA  ZORI (Smoothed, Seasonally Adjusted): All Home...
23           RSNA  ZORI (Smoothed): All Homes Plus Multifamily Ti...
24           NSAW  Median Days to Pending (Smooth, All Homes, Wee...
25           NSAM  Median Days to Pending (Smooth, All Homes, Mon...
26           NRAW  Median Days to Pending (Raw, All Homes, Weekly...
27           NRAM   Median Days to Pending (Raw, All Homes, Monthly)
28           MSAW  Mean Days to Pending (Smooth, All Homes, Weekl...
29           MSAM  Mean Days to Pending (Smooth, All Homes, Monthly)
30           MRAW  Mean Days to Pending (Raw, All Homes, Weekly V...
31           MRAM     Mean Days to Pending (Raw, All Homes, Monthly)
32           LSSW  Median List Price (Smooth, SFR Only, Weekly View)
33           LSSM      Median List Price (Smooth, SFR Only, Monthly)
34           LSAW  Median List Price (Smooth, All Homes, Weekly V...
35           LSAM     Median List Price (Smooth, All Homes, Monthly)
36           LRSW     Median List Price (Raw, SFR Only, Weekly View)
37           LRSM         Median List Price (Raw, SFR Only, Monthly)
38           LRAW    Median List Price (Raw, All Homes, Weekly View)
39           LRAM        Median List Price (Raw, All Homes, Monthly)
40           ISSW  For-Sale Inventory (Smooth, SFR only, Weekly V...
41           ISSM     For-Sale Inventory (Smooth, SFR only, Monthly)
42           ISAW  For-Sale Inventory (Smooth, All Homes, Weekly ...
43           ISAM    For-Sale Inventory (Smooth, All Homes, Monthly)
44           IRSW    For-sale Inventory (Raw, SFR only, Weekly View)
45           IRSM        For-sale Inventory (Raw, SFR only, Monthly)
46           IRAW   For-Sale Inventory (Raw, All Homes, Weekly View)
47           IRAM       For-Sale Inventory (Raw, All Homes, Monthly)
48           CSSW  Share of Listings With a Price Cut (Smooth, SF...
49           CSSM  Share of Listings With a Price Cut (Smooth, SF...
50           CSAW  Share of Listings With a Price Cut (Smooth, Al...
51           CSAM  Share of Listings With a Price Cut (Smooth, Al...
52           CRSW  Share of Listings With a Price Cut (Raw, SFR O...
53           CRSM  Share of Listings With a Price Cut (Raw, SFR O...
54           CRAW  Share of Listings With a Price Cut (Raw, All H...
55           CRAM  Share of Listings With a Price Cut (Raw, All H...

In [15]:
co_zillow_merged

,indicator_id,region_id,region_type,region,date,value
0,SRAW,394484,metro,"Colorado Springs, CO",2016-04-02,252000.0
1,SRSW,394484,metro,"Colorado Springs, CO",2016-04-02,255000.0
2,SASW,394484,metro,"Colorado Springs, CO",2016-04-02,254712.0
3,SSAW,394484,metro,"Colorado Springs, CO",2016-04-02,244872.0
4,SAAW,394484,metro,"Colorado Springs, CO",2016-04-02,250251.0
...,...,...,...,...,...,...
36529,Z2BR,753881,metro,"Glenwood Springs, CO; CO",2020-09-30,467508.0
36530,Z1BR,753881,metro,"Glenwood Springs, CO; CO",2020-09-30,442622.0
36531,Z3BR,753881,metro,"Glenwood Springs, CO; CO",2020-09-30,481041.0
36532,ZABT,753881,metro,"Glenwood Springs, CO; CO",2020-09-30,319157.0
36533,Z5BR,753881,metro,"Glenwood Springs, CO; CO",2020-09-30,3125820.0

In [16]:
co_zillow_merged = pd.merge(co_zillow_merged, zillow_indicators, on="indicator_id")
co_zillow_merged

,indicator_id,region_id,region_type,region,date,value,indicator
0,SRAW,394484,metro,"Colorado Springs, CO",2016-04-02,252000.0000,"Median Sale Price (Raw, All Homes, Weekly View)"
1,SRAW,394484,metro,"Colorado Springs, CO",2016-04-09,253500.0000,"Median Sale Price (Raw, All Homes, Weekly View)"
2,SRAW,394484,metro,"Colorado Springs, CO",2016-04-16,241075.0000,"Median Sale Price (Raw, All Homes, Weekly View)"
3,SRAW,394484,metro,"Colorado Springs, CO",2016-04-23,248870.0000,"Median Sale Price (Raw, All Homes, Weekly View)"
4,SRAW,394484,metro,"Colorado Springs, CO",2016-04-30,258000.0000,"Median Sale Price (Raw, All Homes, Weekly View)"
...,...,...,...,...,...,...,...
36529,CRAM,394530,metro,"Denver, CO",2020-05-31,0.1986,"Share of Listings With a Price Cut (Raw, All H..."
36530,CRAM,394530,metro,"Denver, CO",2020-06-30,0.2122,"Share of Listings With a Price Cut (Raw, All H..."
36531,CRAM,394530,metro,"Denver, CO",2020-07-31,0.2080,"Share of Listings With a Price Cut (Raw, All H..."
36532,CRAM,394530,metro,"Denver, CO",2020-08-31,0.1853,"Share of Listings With a Price Cut (Raw, All H..."
36533,CRAM,394530,metro,"Denver, CO",2020-09-30,0.1905,"Share of Listings With a Price Cut (Raw, All H..."

In [17]:
co_zillow_merged = co_zillow_merged[["indicator_id", "indicator", "region_id", "region_type", "region", "date", "value"]]

In [18]:
co_zillow_merged

,indicator_id,indicator,region_id,region_type,region,date,value
0,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-02,252000.0000
1,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-09,253500.0000
2,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-16,241075.0000
3,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-23,248870.0000
4,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-30,258000.0000
...,...,...,...,...,...,...,...
36529,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-05-31,0.1986
36530,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-06-30,0.2122
36531,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-07-31,0.2080
36532,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-08-31,0.1853
36533,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-09-30,0.1905

In [19]:
co_zillow_merged.columns

Index(['indicator_id', 'indicator', 'region_id', 'region_type', 'region',
       'date', 'value'],
      dtype='object')

In [20]:
co_zillow_merged = co_zillow_merged.rename(columns={'indicator_id': "Indicator ID", 
                                                    'indicator': "Indicator", 
                                                    'region_id': "Region ID", 
                                                    'region_type': "Region Type", 
                                                    'region': "Region Name",
                                                    'date': "Date", 
                                                    'value': "Value"})

In [21]:
co_zillow_merged

,Indicator ID,Indicator,Region ID,Region Type,Region Name,Date,Value
0,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-02,252000.0000
1,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-09,253500.0000
2,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-16,241075.0000
3,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-23,248870.0000
4,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-30,258000.0000
...,...,...,...,...,...,...,...
36529,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-05-31,0.1986
36530,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-06-30,0.2122
36531,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-07-31,0.2080
36532,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-08-31,0.1853
36533,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-09-30,0.1905

In [22]:
co_zillow_merged.to_csv("output_data/zillow_cleaned.csv")