In [1]:
import json
import pandas as pd
import requests
import matplotlib.pyplot as plt
import scipy as sp
from pprint import pprint
import quandl
from config import api_key

In [2]:
# ZILLOW/INDICATORS

data = quandl.get_table('ZILLOW/Indicators', api_key=api_key, paginate=True)
data

,indicator_id,indicator,category
None,,,
0,ZSFH,ZHVI Single-Family Homes Time Series ($),Home values
1,ZCON,ZHVI Condo/Co-op Time Series ($),Home values
2,ZATT,ZHVI All Homes- Top Tier Time Series ($),Home values
3,ZALL,"ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)",Home values
4,ZABT,ZHVI All Homes- Bottom Tier Time Series ($),Home values
5,Z5BR,ZHVI 5+ Bedroom Time Series ($),Home values
6,Z4BR,ZHVI 4-Bedroom Time Series ($),Home values
7,Z3BR,ZHVI 3-Bedroom Time Series ($),Home values
8,Z2BR,ZHVI 2-Bedroom Time Series ($),Home values
9,Z1BR,ZHVI 1-Bedroom Time Series ($),Home values
10,SSSW,"Median Sale Price (Smooth, SFR only, Weekly View)",Inventory and sales
11,SSSM,"Median Sale Price (Smooth, SFR only, Monthly)",Inventory and sales
12,SSAW,"Median Sale Price (Smooth, All Homes, Weekly V...",Inventory and sales
13,SSAM,"Median Sale Price (Smooth, All Homes, Monthly)",Inventory and sales
14,SRSW,"Median Sale Price (Raw, SFR only, Weekly View)",Inventory and sales
15,SRSM,"Median Sale Price (Raw, SFR only, Monthly)",Inventory and sales
16,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",Inventory and sales
17,SRAM,"Median Sale Price (Raw, All Homes, Monthly)",Inventory and sales
18,SASW,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
19,SASM,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
20,SAAW,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
21,SAAM,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
22,RSSA,"ZORI (Smoothed, Seasonally Adjusted): All Home...",Rentals
23,RSNA,ZORI (Smoothed): All Homes Plus Multifamily Ti...,Rentals
24,NSAW,"Median Days to Pending (Smooth, All Homes, Wee...",Inventory and sales
25,NSAM,"Median Days to Pending (Smooth, All Homes, Mon...",Inventory and sales
26,NRAW,"Median Days to Pending (Raw, All Homes, Weekly...",Inventory and sales
27,NRAM,"Median Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
28,MSAW,"Mean Days to Pending (Smooth, All Homes, Weekl...",Inventory and sales
29,MSAM,"Mean Days to Pending (Smooth, All Homes, Monthly)",Inventory and sales
30,MRAW,"Mean Days to Pending (Raw, All Homes, Weekly V...",Inventory and sales
31,MRAM,"Mean Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
32,LSSW,"Median List Price (Smooth, SFR Only, Weekly View)",Inventory and sales
33,LSSM,"Median List Price (Smooth, SFR Only, Monthly)",Inventory and sales
34,LSAW,"Median List Price (Smooth, All Homes, Weekly V...",Inventory and sales
35,LSAM,"Median List Price (Smooth, All Homes, Monthly)",Inventory and sales
36,LRSW,"Median List Price (Raw, SFR Only, Weekly View)",Inventory and sales
37,LRSM,"Median List Price (Raw, SFR Only, Monthly)",Inventory and sales
38,LRAW,"Median List Price (Raw, All Homes, Weekly View)",Inventory and sales
39,LRAM,"Median List Price (Raw, All Homes, Monthly)",Inventory and sales
40,ISSW,"For-Sale Inventory (Smooth, SFR only, Weekly V...",Inventory and sales
41,ISSM,"For-Sale Inventory (Smooth, SFR only, Monthly)",Inventory and sales
42,ISAW,"For-Sale Inventory (Smooth, All Homes, Weekly ...",Inventory and sales
43,ISAM,"For-Sale Inventory (Smooth, All Homes, Monthly)",Inventory and sales
44,IRSW,"For-sale Inventory (Raw, SFR only, Weekly View)",Inventory and sales
45,IRSM,"For-sale Inventory (Raw, SFR only, Monthly)",Inventory and sales
46,IRAW,"For-Sale Inventory (Raw, All Homes, Weekly View)",Inventory and sales
47,IRAM,"For-Sale Inventory (Raw, All Homes, Monthly)",Inventory and sales
48,CSSW,"Share of Listings With a Price Cut (Smooth, SF...",Inventory and sales
49,CSSM,"Share of Listings With a Price Cut (Smooth, SF...",Inventory and sales
50,CSAW,"Share of Listings With a Price Cut (Smooth, Al...",Inventory and sales
51,CSAM,"Share of Listings With a Price Cut (Smooth, Al...",Inventory and sales
52,CRSW,"Share of Listings With a Price Cut (Raw, SFR O...",Inventory and sales
53,CRSM,"Share of Listings With a Price Cut (Raw, SFR O...",Inventory and sales
54,CRAW,"Share of Listings With a Price Cut (Raw, All H...",Inventory and sales
55,CRAM,"Share of Listings With a Price Cut (Raw, All H...",Inventory and sales

In [3]:
indicator_id = ["ZFSH"]
co_region_ids = [11093, 16846, 5519, 20793, 34781, 10181, 44515, 38992, 33334, 10574, 23984, 17545, 19055, 17163, 4592, 26213, 119842, 50547, 45470, 24634, 119404, 12834, 24367, 120381, 7811, 38807, 46297, 17755, 52003, 4548, 119221, 13759, 119157, 55662, 4197, 16865, 120317, 37852, 36384, 7507, 44909, 119469, 8471, 39098, 52230, 38324, 120500, 13288, 16394, 49882, 120020, 395432, 21854, 17754, 119632, 22800, 119114, 56787, 24366, 24665, 4960, 52196, 120107, 8179, 119390, 36867, 16729, 46104, 46323, 24170, 120333, 11824, 50963, 24590, 11751, 31633, 12042, 120074, 13856, 45936, 55580, 39666, 54425, 396043, 42203, 23185, 30476, 6510, 396035, 16589, 50328]
zillow_dictionary = {"Region ID": co_region_ids, 
                     "Indicator ID": "",  
                     "Date": "", 
                     "Home Value": ""}
zillow_home_value_df = pd.DataFrame(zillow_dictionary)
zillow_home_value_df

    Region ID Indicator ID Date Home Value
0       11093
1       16846
2        5519
3       20793
4       34781
..        ...          ...  ...        ...
86      30476
87       6510
88     396035
89      16589
90      50328

[91 rows x 4 columns]

In [109]:
co_region_ids = [11093, 16846, 5519, 20793, 34781, 10181, 44515, 38992, 33334, 10574, 23984, 17545, 19055, 17163, 4592, 26213, 119842, 50547, 45470, 24634, 119404, 12834, 24367, 120381, 7811, 38807, 46297, 17755, 52003, 4548, 119221, 13759, 119157, 55662, 4197, 16865, 120317, 37852, 36384, 7507, 44909, 119469, 8471, 39098, 52230, 38324, 120500, 13288, 16394, 49882, 120020, 395432, 21854, 17754, 119632, 22800, 119114, 56787, 24366, 24665, 4960, 52196, 120107, 8179, 119390, 36867, 16729, 46104, 46323, 24170, 120333, 11824, 50963, 24590, 11751, 31633, 12042, 120074, 13856, 45936, 55580, 39666, 54425, 396043, 42203, 23185, 30476, 6510, 396035, 16589, 50328]
quandl_url = f"https://www.quandl.com/api/v3/datatables/ZILLOW/DATA.json?"
countdata = 0

for index, row in zillow_home_value_df.iterrows():
    region_id = row["Region ID"]
    quandl_fetch = requests.get(quandl_url + f"region_id={region_id}" + f"&indicator_id=ZSFH&api_key={api_key}").json()
    print(region_id)
#     region_id = quandl_fetch["datatable"]["data"][countdata][1]
#         indicator_id = quandl_fetch["datatable"]["data"][countdata][0]
#         region_id = quandl_fetch["datatable"]["data"][countdata][1]
#         date = quandl_fetch["datatable"]["data"][countdata][2]
#         home_value = quandl_fetch["datatable"]["data"][countdata][3]
#     print(region_id)

11093
16846
5519
20793
34781
10181
44515
38992
33334
10574
23984
17545
19055
17163
4592
26213
119842
50547
45470
24634
119404
12834
24367
120381
7811
38807
46297
17755
52003
4548
119221
13759
119157
55662
4197
16865
120317
37852
36384
7507
44909
119469
8471
39098
52230
38324
120500
13288
16394
49882
120020
395432
21854
17754
119632
22800
119114
56787
24366
24665
4960
52196
120107
8179
119390
36867
16729
46104
46323
24170
120333
11824
50963
24590
11751
31633
12042
120074
13856
45936
55580
39666
54425
396043
42203
23185
30476
6510
396035
16589
50328

In [113]:
quandl_fetch["datatable"]

{'data': [['ZSFH', '50328', '2020-09-30', 414333.0],
  ['ZSFH', '50328', '2020-08-31', 413688.0],
  ['ZSFH', '50328', '2020-07-31', 409234.0],
  ['ZSFH', '50328', '2020-06-30', 389387.0],
  ['ZSFH', '50328', '2020-05-31', 394411.0],
  ['ZSFH', '50328', '2020-04-30', 378961.0],
  ['ZSFH', '50328', '2020-03-31', 377687.0],
  ['ZSFH', '50328', '2020-02-29', 375719.0],
  ['ZSFH', '50328', '2020-01-31', 372503.0],
  ['ZSFH', '50328', '2019-12-31', 368036.0],
  ['ZSFH', '50328', '2019-11-30', 364296.0],
  ['ZSFH', '50328', '2019-10-31', 362893.0],
  ['ZSFH', '50328', '2019-09-30', 362078.0],
  ['ZSFH', '50328', '2019-08-31', 362605.0],
  ['ZSFH', '50328', '2019-07-31', 365524.0],
  ['ZSFH', '50328', '2019-06-30', 366953.0],
  ['ZSFH', '50328', '2019-05-31', 365940.0],
  ['ZSFH', '50328', '2019-04-30', 361901.0],
  ['ZSFH', '50328', '2019-03-31', 358743.0],
  ['ZSFH', '50328', '2019-02-28', 356619.0],
  ['ZSFH', '50328', '2019-01-31', 355039.0],
  ['ZSFH', '50328', '2018-12-31', 353072.0],
  ['ZSFH', '50328', '2018-11-30', 350307.0],
  ['ZSFH', '50328', '2018-10-31', 344384.0],
  ['ZSFH', '50328', '2018-09-30', 337751.0],
  ['ZSFH', '50328', '2018-08-31', 327979.0],
  ['ZSFH', '50328', '2018-07-31', 319199.0],
  ['ZSFH', '50328', '2018-06-30', 308134.0],
  ['ZSFH', '50328', '2018-05-31', 301580.0],
  ['ZSFH', '50328', '2018-04-30', 295200.0],
  ['ZSFH', '50328', '2018-03-31', 289878.0],
  ['ZSFH', '50328', '2018-02-28', 285536.0],
  ['ZSFH', '50328', '2018-01-31', 283332.0],
  ['ZSFH', '50328', '2017-12-31', 284507.0],
  ['ZSFH', '50328', '2017-11-30', 285274.0],
  ['ZSFH', '50328', '2017-10-31', 284937.0],
  ['ZSFH', '50328', '2017-09-30', 283307.0],
  ['ZSFH', '50328', '2017-08-31', 283826.0],
  ['ZSFH', '50328', '2017-07-31', 281874.0],
  ['ZSFH', '50328', '2017-06-30', 285700.0],
  ['ZSFH', '50328', '2017-05-31', 286982.0],
  ['ZSFH', '50328', '2017-04-30', 290632.0],
  ['ZSFH', '50328', '2017-03-31', 289555.0],
  ['ZSFH', '50328', '2017-02-28', 286270.0],
  ['ZSFH', '50328', '2017-01-31', 281424.0],
  ['ZSFH', '50328', '2016-12-31', 274803.0],
  ['ZSFH', '50328', '2016-11-30', 269341.0],
  ['ZSFH', '50328', '2016-10-31', 267623.0],
  ['ZSFH', '50328', '2016-09-30', 269142.0],
  ['ZSFH', '50328', '2016-08-31', 270771.0],
  ['ZSFH', '50328', '2016-07-31', 272853.0],
  ['ZSFH', '50328', '2016-06-30', 269887.0],
  ['ZSFH', '50328', '2016-05-31', 266940.0],
  ['ZSFH', '50328', '2016-04-30', 260276.0],
  ['ZSFH', '50328', '2016-03-31', 256138.0],
  ['ZSFH', '50328', '2016-02-29', 252154.0],
  ['ZSFH', '50328', '2016-01-31', 249558.0],
  ['ZSFH', '50328', '2015-12-31', 247100.0],
  ['ZSFH', '50328', '2015-11-30', 243752.0],
  ['ZSFH', '50328', '2015-10-31', 239067.0],
  ['ZSFH', '50328', '2015-09-30', 233154.0],
  ['ZSFH', '50328', '2015-08-31', 228675.0],
  ['ZSFH', '50328', '2015-07-31', 226194.0],
  ['ZSFH', '50328', '2015-06-30', 225121.0],
  ['ZSFH', '50328', '2015-05-31', 222941.0],
  ['ZSFH', '50328', '2015-04-30', 221413.0],
  ['ZSFH', '50328', '2015-03-31', 219948.0],
  ['ZSFH', '50328', '2015-02-28', 219433.0],
  ['ZSFH', '50328', '2015-01-31', 218559.0],
  ['ZSFH', '50328', '2014-12-31', 219424.0],
  ['ZSFH', '50328', '2014-11-30', 221998.0],
  ['ZSFH', '50328', '2014-10-31', 225661.0],
  ['ZSFH', '50328', '2014-09-30', 229035.0],
  ['ZSFH', '50328', '2014-08-31', 231777.0],
  ['ZSFH', '50328', '2014-07-31', 231684.0],
  ['ZSFH', '50328', '2014-06-30', 231813.0],
  ['ZSFH', '50328', '2014-05-31', 231202.0],
  ['ZSFH', '50328', '2014-04-30', 230884.0],
  ['ZSFH', '50328', '2014-03-31', 229312.0],
  ['ZSFH', '50328', '2014-02-28', 228059.0],
  ['ZSFH', '50328', '2014-01-31', 226842.0],
  ['ZSFH', '50328', '2013-12-31', 226382.0],
  ['ZSFH', '50328', '2013-11-30', 226816.0],
  ['ZSFH', '50328', '2013-10-31', 227040.0],
  ['ZSFH', '50328', '2013-09-30', 224758.0],
  ['ZSFH', '50328', '2013-08-31', 220111.0],
  ['ZSFH', '50328', '2013-07-31', 217025.0],
  ['ZSFH', '50328', '2013-06-30', 216033.0],
  ['ZSFH', '50328', '2013-05-31', 216733.0],
  ['ZSFH', '50328', '2013-04-30', 217231.0],
  ['ZSFH', '50328', '2013-03-31', 218804.0],
  ['ZSFH', '50328', '2013-02-28', 218761.0],
  ['ZSFH', '50328', '2013-01-31', 217790.0],
  ['ZSFH', '50328', '2012-12-31', 214324.0],
  ['ZSFH', '50328', '2012-11-30', 209966.0],
  ['ZSFH', '50328', '2012-10-31', 206060.0],
  ['ZSFH', '50328', '2012-09-30', 205213.0],
  ['ZSFH', '50328', '2012-08-31', 204354.0],
  ['ZSFH', '50328', '2012-07-31', 201579.0],
  ['ZSFH', '50328', '2012-06-30', 196237.0],
  ['ZSFH', '50328', '2012-05-31', 193363.0],
  ['ZSFH', '50328', '2012-04-30', 194012.0],
  ['ZSFH', '50328', '2012-03-31', 195187.0],
  ['ZSFH', '50328', '2012-02-29', 197045.0],
  ['ZSFH', '50328', '2012-01-31', 197388.0],
  ['ZSFH', '50328', '2011-12-31', 196684.0],
  ['ZSFH', '50328', '2011-11-30', 192746.0],
  ['ZSFH', '50328', '2011-10-31', 186769.0],
  ['ZSFH', '50328', '2011-09-30', 179606.0],
  ['ZSFH', '50328', '2011-08-31', 174797.0],
  ['ZSFH', '50328', '2011-07-31', 171570.0],
  ['ZSFH', '50328', '2011-06-30', 169972.0],
  ['ZSFH', '50328', '2011-05-31', 167853.0],
  ['ZSFH', '50328', '2011-04-30', 166531.0],
  ['ZSFH', '50328', '2011-03-31', 167313.0],
  ['ZSFH', '50328', '2011-02-28', 167688.0],
  ['ZSFH', '50328', '2011-01-31', 167908.0],
  ['ZSFH', '50328', '2010-12-31', 168252.0],
  ['ZSFH', '50328', '2010-11-30', 171387.0],
  ['ZSFH', '50328', '2010-10-31', 176340.0],
  ['ZSFH', '50328', '2010-09-30', 181368.0],
  ['ZSFH', '50328', '2010-08-31', 184801.0],
  ['ZSFH', '50328', '2010-07-31', 187434.0],
  ['ZSFH', '50328', '2010-06-30', 189380.0],
  ['ZSFH', '50328', '2010-05-31', 190353.0],
  ['ZSFH', '50328', '2010-04-30', 189122.0],
  ['ZSFH', '50328', '2010-03-31', 185761.0],
  ['ZSFH', '50328', '2010-02-28', 182628.0],
  ['ZSFH', '50328', '2010-01-31', 180249.0],
  ['ZSFH', '50328', '2009-12-31', 179654.0],
  ['ZSFH', '50328', '2009-11-30', 178885.0]],
 'columns': [{'name': 'indicator_id', 'type': 'text'},
  {'name': 'region_id', 'type': 'text'},
  {'name': 'date', 'type': 'Date'},
  {'name': 'value', 'type': 'double'}]}

In [101]:
zillow_df = pd.DataFrame()
zillow_df["Indicator ID"] = []
zillow_df["Region ID"] = []
zillow_df["Date"] = []
zillow_df["Home Value"] = []
zillow_df

Empty DataFrame
Columns: [Indicator ID, Region ID, Date, Home Value]
Index: []

In [102]:
index_test = 0
for data in quandl_fetch["datatable"]["data"]:
    zillow_df.at[f"{index_test}"]
    index_test += 1
#     indicator = quandl_fetch["datatable"]["data"][index_test][0]     
#     region_id = quandl_fetch["datatable"]["data"][index_test][1]
#     date = quandl_fetch["datatable"]["data"][index_test][2]
#     home_value = quandl_fetch["datatable"]["data"][index_test][3]
    zillow_df.at[f"{index_test}"]
    index_test += 1

TypeError: string indices must be integers

In [89]:
zillow_df

              Indicator ID  Region ID  Date  Home Value
Indicator ID           NaN        NaN   NaN         NaN
0                      NaN        NaN   NaN         NaN

In [66]:
zillow_df["Indicator ID"]

Indicator ID    ZSFH
Name: Indicator ID, dtype: object

In [ ]:
indicator_id = quandl_fetch["datatable"]["data"][0][0]
region_id = quandl_fetch["datatable"]["data"][0][1]
date = quandl_fetch["datatable"]["data"][1][2]
home_value = quandl_fetch["datatable"]["data"][0][3]
quandl_fetch["datatable"]["data"]
date

In [107]:
quandl_fetch["datatable"]["data"]

TypeError: string indices must be integers