In [2]:
import json
import pandas as pd
import requests
import matplotlib.pyplot as plt
import scipy as sp
from pprint import pprint
import quandl
from config import quandl_key
import numpy as np

In [3]:
denver_employment = pd.read_csv("data/denver_bls.csv")
denver_employment

     Year Period  labor force  employment  unemployment  unemployment rate
0    2010    Jan      1405134     1280921        124213                8.8
1    2010    Feb      1406757     1281681        125076                8.9
2    2010    Mar      1411199     1283012        128187                9.1
3    2010    Apr      1422258     1302615        119643                8.4
4    2010    May      1421902     1302840        119062                8.4
..    ...    ...          ...         ...           ...                ...
123  2020    Apr      1635879     1434310        201569               12.3
124  2020    May      1640291     1468403        171888               10.5
125  2020    Jun      1719264     1528284        190980               11.1
126  2020    Jul      1678133     1546248        131885                7.9
127  2020    Aug      1678717     1560781        117936                7.0

[128 rows x 6 columns]

In [4]:
indicators_url = "https://www.quandl.com/api/v3/datatables/ZILLOW/INDICATORS.json?&api_key="
query_url = indicators_url + quandl_key
response = requests.get(query_url).json()
pprint(json.dumps(response, indent=4, sort_keys=True))

('{\n'
 '    "datatable": {\n'
 '        "columns": [\n'
 '            {\n'
 '                "name": "indicator_id",\n'
 '                "type": "text"\n'
 '            },\n'
 '            {\n'
 '                "name": "indicator",\n'
 '                "type": "text"\n'
 '            },\n'
 '            {\n'
 '                "name": "category",\n'
 '                "type": "text"\n'
 '            }\n'
 '        ],\n'
 '        "data": [\n'
 '            [\n'
 '                "ZSFH",\n'
 '                "ZHVI Single-Family Homes Time Series ($)",\n'
 '                "Home values"\n'
 '            ],\n'
 '            [\n'
 '                "ZCON",\n'
 '                "ZHVI Condo/Co-op Time Series ($)",\n'
 '                "Home values"\n'
 '            ],\n'
 '            [\n'
 '                "ZATT",\n'
 '                "ZHVI All Homes- Top Tier Time Series ($)",\n'
 '                "Home values"\n'
 '            ],\n'
 '            [\n'
 '                "ZALL",\n'
 '                "ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)",\n'
 '                "Home values"\n'
 '            ],\n'
 '            [\n'
 '                "ZABT",\n'
 '                "ZHVI All Homes- Bottom Tier Time Series ($)",\n'
 '                "Home values"\n'
 '            ],\n'
 '            [\n'
 '                "Z5BR",\n'
 '                "ZHVI 5+ Bedroom Time Series ($)",\n'
 '                "Home values"\n'
 '            ],\n'
 '            [\n'
 '                "Z4BR",\n'
 '                "ZHVI 4-Bedroom Time Series ($)",\n'
 '                "Home values"\n'
 '            ],\n'
 '            [\n'
 '                "Z3BR",\n'
 '                "ZHVI 3-Bedroom Time Series ($)",\n'
 '                "Home values"\n'
 '            ],\n'
 '            [\n'
 '                "Z2BR",\n'
 '                "ZHVI 2-Bedroom Time Series ($)",\n'
 '                "Home values"\n'
 '            ],\n'
 '            [\n'
 '                "Z1BR",\n'
 '                "ZHVI 1-Bedroom Time Series ($)",\n'
 '                "Home values"\n'
 '            ],\n'
 '            [\n'
 '                "SSSW",\n'
 '                "Median Sale Price (Smooth, SFR only, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "SSSM",\n'
 '                "Median Sale Price (Smooth, SFR only, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "SSAW",\n'
 '                "Median Sale Price (Smooth, All Homes, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "SSAM",\n'
 '                "Median Sale Price (Smooth, All Homes, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "SRSW",\n'
 '                "Median Sale Price (Raw, SFR only, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "SRSM",\n'
 '                "Median Sale Price (Raw, SFR only, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "SRAW",\n'
 '                "Median Sale Price (Raw, All Homes, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "SRAM",\n'
 '                "Median Sale Price (Raw, All Homes, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "SASW",\n'
 '                "Median Sale Price (Smooth & Seasonally Adjusted, SFR only, '
 'Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "SASM",\n'
 '                "Median Sale Price (Smooth & Seasonally Adjusted, SFR only, '
 'Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "SAAW",\n'
 '                "Median Sale Price (Smooth & Seasonally Adjusted, All Homes, '
 'Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "SAAM",\n'
 '                "Median Sale Price (Smooth & Seasonally Adjusted, All Homes, '
 'Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "RSSA",\n'
 '                "ZORI (Smoothed, Seasonally Adjusted): All Homes Plus '
 'Multifamily Time Series ($)",\n'
 '                "Rentals"\n'
 '            ],\n'
 '            [\n'
 '                "RSNA",\n'
 '                "ZORI (Smoothed): All Homes Plus Multifamily Time Series '
 '($)",\n'
 '                "Rentals"\n'
 '            ],\n'
 '            [\n'
 '                "NSAW",\n'
 '                "Median Days to Pending (Smooth, All Homes, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "NSAM",\n'
 '                "Median Days to Pending (Smooth, All Homes, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "NRAW",\n'
 '                "Median Days to Pending (Raw, All Homes, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "NRAM",\n'
 '                "Median Days to Pending (Raw, All Homes, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "MSAW",\n'
 '                "Mean Days to Pending (Smooth, All Homes, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "MSAM",\n'
 '                "Mean Days to Pending (Smooth, All Homes, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "MRAW",\n'
 '                "Mean Days to Pending (Raw, All Homes, Weekly View) ",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "MRAM",\n'
 '                "Mean Days to Pending (Raw, All Homes, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "LSSW",\n'
 '                "Median List Price (Smooth, SFR Only, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "LSSM",\n'
 '                "Median List Price (Smooth, SFR Only, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "LSAW",\n'
 '                "Median List Price (Smooth, All Homes, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "LSAM",\n'
 '                "Median List Price (Smooth, All Homes, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "LRSW",\n'
 '                "Median List Price (Raw, SFR Only, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "LRSM",\n'
 '                "Median List Price (Raw, SFR Only, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "LRAW",\n'
 '                "Median List Price (Raw, All Homes, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "LRAM",\n'
 '                "Median List Price (Raw, All Homes, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "ISSW",\n'
 '                "For-Sale Inventory (Smooth, SFR only, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "ISSM",\n'
 '                "For-Sale Inventory (Smooth, SFR only, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "ISAW",\n'
 '                "For-Sale Inventory (Smooth, All Homes, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "ISAM",\n'
 '                "For-Sale Inventory (Smooth, All Homes, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "IRSW",\n'
 '                "For-sale Inventory (Raw, SFR only, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "IRSM",\n'
 '                "For-sale Inventory (Raw, SFR only, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "IRAW",\n'
 '                "For-Sale Inventory (Raw, All Homes, Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "IRAM",\n'
 '                "For-Sale Inventory (Raw, All Homes, Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "CSSW",\n'
 '                "Share of Listings With a Price Cut (Smooth, SFR Only, '
 'Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "CSSM",\n'
 '                "Share of Listings With a Price Cut (Smooth, SFR Only, '
 'Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "CSAW",\n'
 '                "Share of Listings With a Price Cut (Smooth, All Homes, '
 'Weekly View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "CSAM",\n'
 '                "Share of Listings With a Price Cut (Smooth, All Homes, '
 'Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "CRSW",\n'
 '                "Share of Listings With a Price Cut (Raw, SFR Only, Weekly '
 'View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "CRSM",\n'
 '                "Share of Listings With a Price Cut (Raw, SFR Only, '
 'Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "CRAW",\n'
 '                "Share of Listings With a Price Cut (Raw, All Homes, Weekly '
 'View)",\n'
 '                "Inventory and sales"\n'
 '            ],\n'
 '            [\n'
 '                "CRAM",\n'
 '                "Share of Listings With a Price Cut (Raw, All Homes, '
 'Monthly)",\n'
 '                "Inventory and sales"\n'
 '            ]\n'
 '        ]\n'
 '    },\n'
 '    "meta": {\n'
 '        "next_cursor_id": null\n'
 '    }\n'
 '}')

In [5]:
regions_url = "https://www.quandl.com/api/v3/datatables/ZILLOW/regions.json?region_type=city&api_key="
rquery_url = regions_url + quandl_key
r_response = requests.get(rquery_url).json()
#print(json.dumps(r_response, indent=4, sort_keys=True))
region_ids = pd.read_csv('data/zillow_region_ids.csv')
#region_ids
#region_ids[region_ids['Neighborhood'].str.contains('Denver')]
region_ids[region_ids['State_abrv'].str.contains('CO')]

,Region_id,Region_type,City_Name,State_abrv,Neighborhood,County
184,9594,city,Rocky Ford,CO,Otero County,NaN
206,9547,city,Weston,CO,Las Animas County,NaN
298,9328,city,Tabernash,CO,Grand County,NaN
395,9094,city,Pleasant View,CO,Montezuma County,NaN
405,9061,city,Mesa,CO,Grand Junction,Mesa County
...,...,...,...,...,...,...
9793,41283,city,Trinidad,CO,Las Animas County,NaN
9853,41152,city,Swink,CO,Otero County,NaN
9875,41110,city,Sugar City,CO,Crowley County,NaN
9958,4095,city,Chromo,CO,Archuleta County,NaN
9971,40912,city,Silverton,CO,San Juan County,NaN

In [41]:
co_region_ids = [11093, 16846, 5519, 20793, 34781, 10181, 44515, 38992, 33334, 10574, 23984, 17545, 19055, 17163, 4592,
                 26213, 119842, 50547, 45470, 24634, 119404,
                 12834, 24367, 120381, 7811, 38807, 46297, 17755, 52003, 4548, 119221, 13759, 119157, 55662, 4197,
                 16865, 120317, 37852, 36384, 7507, 44909, 119469, 8471, 39098, 52230, 38324, 120500, 13288, 16394,
                 49882, 120020, 395432, 21854, 17754, 119632, 22800, 119114, 56787, 24366, 24665, 4960, 52196, 120107,
                 8179, 119390, 36867, 16729, 46104, 46323, 24170, 120333, 11824, 50963, 24590, 11751, 31633, 12042,
                 120074, 13856, 45936, 55580, 39666, 54425, 396043, 42203, 23185, 30476, 6510, 396035, 16589, 50328]

In [42]:
#data = quandl.get_table('ZACKS/FC', paginate=True, ticker=['AAPL', 'MSFT'],
#per_end_date={'gte': '2015-01-01'}, qopts={'columns':['ticker', 'per_end_date']})
isaw_data = quandl.get_table("ZILLOW/DATA", api_key=quandl_key,
                             indicator_id='ISAW', paginate=True)#, region_id = co_region_ids)
isaw_data



#np.where(data['region_id']==4592)
#per_end_date={'gte': '2016-04-26'}

      indicator_id region_id       date      value
None
0             ISAW    753924 2020-10-03     3541.0
1             ISAW    753924 2020-09-26     3560.0
2             ISAW    753924 2020-09-19     3587.0
3             ISAW    753924 2020-08-29     3774.0
4             ISAW    753924 2020-08-22     3771.0
...            ...       ...        ...        ...
17627         ISAW    102001 2017-11-04  1325207.0
17628         ISAW    102001 2017-10-28  1329289.0
17629         ISAW    102001 2017-10-21  1334286.0
17630         ISAW    102001 2017-10-14  1336229.0
17631         ISAW    102001 2017-10-07  1336948.0

[17632 rows x 4 columns]

In [49]:
data3.loc[data3['region_id']=='753924']

      region_id region_type              region
None
22766    753924       metro  Urban Honolulu, HI

In [47]:
data3

      region_id region_type                                           region
None
0         99999         zip   98847; WA; Wenatchee; Chelan County; Peshastin
1         99998         zip              98846; WA; Okanogan County; Pateros
2         99997         zip  98845; WA; Wenatchee; Douglas County; Palisades
3         99996         zip             98844; WA; Okanogan County; Oroville
4         99995         zip     98843; WA; Wenatchee; Douglas County; Orondo
...         ...         ...                                              ...
78508    100000         zip      98848; WA; Moses Lake; Grant County; Quincy
78509     10000        city                  Bloomington; MD; Garrett County
78510      1000      county                      Echols County; GA; Valdosta
78511       100      county               Bibb County; AL; Birmingham-Hoover
78512        10       state                                     Colorado; CO

[78513 rows x 3 columns]

In [38]:
z1br= quandl.get_table('Zillow/Data', api_key=quandl_key, indicator_id = 'Z1BR', paginate=True, region_id = co_region_ids)
z1br

      indicator_id region_id       date     value
None
0             Z1BR      8471 2020-09-30  723751.0
1             Z1BR      8471 2020-08-31  718174.0
2             Z1BR      8471 2020-07-31  713465.0
3             Z1BR      8471 2020-06-30  722672.0
4             Z1BR      8471 2020-05-31  724446.0
...            ...       ...        ...       ...
17001         Z1BR     10181 1996-05-31   83774.0
17002         Z1BR     10181 1996-04-30   83497.0
17003         Z1BR     10181 1996-03-31   83065.0
17004         Z1BR     10181 1996-02-29   82862.0
17005         Z1BR     10181 1996-01-31   82449.0

[17006 rows x 4 columns]

In [59]:
isaw = quandl.get_table('Zillow/Data', api_key=quandl_key, indicator_id = 'ISAW', paginate=True, region_id = co_metro_ids)
#isaw
isaw["date"]= pd.to_datetime(isaw["date"])
isaw_dated =isaw.loc[isaw["date"] > "2016-04-01"]
#isaw
isaw_dated

     indicator_id region_id       date   value
None
0            ISAW    395007 2020-10-03   510.0
1            ISAW    395007 2020-09-26   518.0
2            ISAW    395007 2020-09-19   520.0
3            ISAW    395007 2020-08-29   545.0
4            ISAW    395007 2020-08-22   551.0
...           ...       ...        ...     ...
919          ISAW    394405 2017-11-04  1152.0
920          ISAW    394405 2017-10-28  1174.0
921          ISAW    394405 2017-10-21  1186.0
922          ISAW    394405 2017-10-14  1190.0
923          ISAW    394405 2017-10-07  1197.0

[924 rows x 4 columns]

In [84]:
#quandl.bulkdownload("ZILLOW/DATA", quandl_key)
#zillow_data = quandl.export_table('ZILLOW/DATA', api_key=quandl_key)

In [3]:
data2 = quandl.get_table("ZILLOW/INDICATORS", api_key="YOUR KEY HERE")
data2

,indicator_id,indicator,category
None,,,
0,ZSFH,ZHVI Single-Family Homes Time Series ($),Home values
1,ZCON,ZHVI Condo/Co-op Time Series ($),Home values
2,ZATT,ZHVI All Homes- Top Tier Time Series ($),Home values
3,ZALL,"ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)",Home values
4,ZABT,ZHVI All Homes- Bottom Tier Time Series ($),Home values
5,Z5BR,ZHVI 5+ Bedroom Time Series ($),Home values
6,Z4BR,ZHVI 4-Bedroom Time Series ($),Home values
7,Z3BR,ZHVI 3-Bedroom Time Series ($),Home values
8,Z2BR,ZHVI 2-Bedroom Time Series ($),Home values
9,Z1BR,ZHVI 1-Bedroom Time Series ($),Home values
10,SSSW,"Median Sale Price (Smooth, SFR only, Weekly View)",Inventory and sales
11,SSSM,"Median Sale Price (Smooth, SFR only, Monthly)",Inventory and sales
12,SSAW,"Median Sale Price (Smooth, All Homes, Weekly V...",Inventory and sales
13,SSAM,"Median Sale Price (Smooth, All Homes, Monthly)",Inventory and sales
14,SRSW,"Median Sale Price (Raw, SFR only, Weekly View)",Inventory and sales
15,SRSM,"Median Sale Price (Raw, SFR only, Monthly)",Inventory and sales
16,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",Inventory and sales
17,SRAM,"Median Sale Price (Raw, All Homes, Monthly)",Inventory and sales
18,SASW,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
19,SASM,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
20,SAAW,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
21,SAAM,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
22,RSSA,"ZORI (Smoothed, Seasonally Adjusted): All Home...",Rentals
23,RSNA,ZORI (Smoothed): All Homes Plus Multifamily Ti...,Rentals
24,NSAW,"Median Days to Pending (Smooth, All Homes, Wee...",Inventory and sales
25,NSAM,"Median Days to Pending (Smooth, All Homes, Mon...",Inventory and sales
26,NRAW,"Median Days to Pending (Raw, All Homes, Weekly...",Inventory and sales
27,NRAM,"Median Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
28,MSAW,"Mean Days to Pending (Smooth, All Homes, Weekl...",Inventory and sales
29,MSAM,"Mean Days to Pending (Smooth, All Homes, Monthly)",Inventory and sales
30,MRAW,"Mean Days to Pending (Raw, All Homes, Weekly V...",Inventory and sales
31,MRAM,"Mean Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
32,LSSW,"Median List Price (Smooth, SFR Only, Weekly View)",Inventory and sales
33,LSSM,"Median List Price (Smooth, SFR Only, Monthly)",Inventory and sales
34,LSAW,"Median List Price (Smooth, All Homes, Weekly V...",Inventory and sales
35,LSAM,"Median List Price (Smooth, All Homes, Monthly)",Inventory and sales
36,LRSW,"Median List Price (Raw, SFR Only, Weekly View)",Inventory and sales
37,LRSM,"Median List Price (Raw, SFR Only, Monthly)",Inventory and sales
38,LRAW,"Median List Price (Raw, All Homes, Weekly View)",Inventory and sales
39,LRAM,"Median List Price (Raw, All Homes, Monthly)",Inventory and sales
40,ISSW,"For-Sale Inventory (Smooth, SFR only, Weekly V...",Inventory and sales
41,ISSM,"For-Sale Inventory (Smooth, SFR only, Monthly)",Inventory and sales
42,ISAW,"For-Sale Inventory (Smooth, All Homes, Weekly ...",Inventory and sales
43,ISAM,"For-Sale Inventory (Smooth, All Homes, Monthly)",Inventory and sales
44,IRSW,"For-sale Inventory (Raw, SFR only, Weekly View)",Inventory and sales
45,IRSM,"For-sale Inventory (Raw, SFR only, Monthly)",Inventory and sales
46,IRAW,"For-Sale Inventory (Raw, All Homes, Weekly View)",Inventory and sales
47,IRAM,"For-Sale Inventory (Raw, All Homes, Monthly)",Inventory and sales
48,CSSW,"Share of Listings With a Price Cut (Smooth, SF...",Inventory and sales
49,CSSM,"Share of Listings With a Price Cut (Smooth, SF...",Inventory and sales
50,CSAW,"Share of Listings With a Price Cut (Smooth, Al...",Inventory and sales
51,CSAM,"Share of Listings With a Price Cut (Smooth, Al...",Inventory and sales
52,CRSW,"Share of Listings With a Price Cut (Raw, SFR O...",Inventory and sales
53,CRSM,"Share of Listings With a Price Cut (Raw, SFR O...",Inventory and sales
54,CRAW,"Share of Listings With a Price Cut (Raw, All H...",Inventory and sales
55,CRAM,"Share of Listings With a Price Cut (Raw, All H...",Inventory and sales

In [54]:
#REGIONS TABLE
data3 = quandl.get_table("ZILLOW/REGIONS", api_key=quandl_key, paginate=True)
data3
#FOUND CO COUNTIES
co_region = data3[data3['region'].str.contains('CO')]
co_county = co_region[co_region['region_type']=='county']
co_county_ids = co_county['region_id'].tolist()
co_metros = co_region[co_region['region_type']=='metro']
co_metro_ids = co_metros['region_id'].tolist()
print(co_metro_ids)
#print(co_county_ids)

['753921', '753881', '753874', '753871', '395130', '395007', '394876', '394645', '394639', '394606', '394602', '394556', '394547', '394530', '394484', '394437', '394405']