In [2]:

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
csvp = "denver_bls.csv"

# Read the mouse data and the study results
denver_unemployment = pd.read_csv(csvp)

denver_unemployment

     Year Period  labor force  employment  unemployment  unemployment rate
0    2010    Jan      1405134     1280921        124213                8.8
1    2010    Feb      1406757     1281681        125076                8.9
2    2010    Mar      1411199     1283012        128187                9.1
3    2010    Apr      1422258     1302615        119643                8.4
4    2010    May      1421902     1302840        119062                8.4
..    ...    ...          ...         ...           ...                ...
123  2020    Apr      1635879     1434310        201569               12.3
124  2020    May      1640291     1468403        171888               10.5
125  2020    Jun      1719264     1528284        190980               11.1
126  2020    Jul      1678133     1546248        131885                7.9
127  2020    Aug      1678717     1560781        117936                7.0

[128 rows x 6 columns]